*node_modules/
*build/
*.swo
*.swp
*.swn
*__pycache__*

Shuffle-*.json
backend/go-app/generated*

functions/generated_apps
*.zip

*openapi-parsers/generated/*
*openapi-parsers/other/*


backend/onprem/app_sdk/apps
*test.py

*.exe
*debug*
!**/RuntimeDebugger.jsx

shuffle-database/*
!shuffle-database/.gitkeep

# Helm
Chart.lock

# Built go binaries
shuffle

# Devenv
.devenv*
devenv.local.nixw
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
